.img_product{
    object-fit: cover;
    max-height:290px;
     width: 100%;
}

.img_machine{
    object-fit: contain;
    height:185px;
     width: 100%;
}

.img_def_prev{
    object-fit: cover;
    max-height:120px;
    width: 100%;
    border-radius:5px;
}
.img_def{
    object-fit: cover;
    max-height:210px;
    width: 100%;
    height:100%;
    border-radius:5px;
    cursor:pointer;
}
.form-edit-defect-head{
    display:none;
}
.form-edit-correction-head{
    display:none;
}

@media screen and (max-width: 590px){
  .img_product {
    max-height: 95px;
  }
  .img_def {

      max-height: 79px;
      border-radius:5px;
    }
}