.img_product{
    object-fit: cover;
    max-height:290px;
     width: 100%;
}
.img_def{
    object-fit: cover;
    max-height:290px;
     width: 100%;
}
@media screen and (max-width: 590px){
  .img_product {
    max-height: 95px;
  }
  .img_def {
      max-height: 200px;
    }
}