<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        TD {
            border: 1px solid black;
            padding: 3px;
        }
        table {
            border-radius:4px;
            border-collapse: collapse;
        }
        .tb{
            border: none;
        }
    </style>

</head>
<body>
    <div>
        <form method="post" action="/add">
            <input type="text" required="true" name="numberColor" placeholder="Введите RAL" />
            <input type="text" required="true" name="coatingType" placeholder="Тип покрытия" />
            <input type="text" required="true" name="manufact" placeholder="Производитель" />
            <input type="text" required="true" name="value" placeholder="Количество" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Поиск по RAL</div>
    <div>
        <form method="post" action="/filter">
            <input type="text" name="filter" placeholder="Введите RAL" />
            <button type="submit">Поиск</button>
        </form>
    </div>
    <div>Список краски</div>
    <div>
    <table>
        <tr>
            <td>RAL</td>
            <td>Тип покрытия</td>
            <td>Производитель</td>
            <td>Значение</td>
        </tr>
        {{#colors}}
        <tr>
            <td>RAL{{numberColor}}</td>
            <td>{{coatingType}}</td>
            <td>{{manufact}}</td>
            <td class="note__body_{{id}}">{{value}}</td>
            <td class="tb"><a class="action" id="{{id}}">Изменить</a></td>
            <td class="tb"><a href="/delete/?id={{id}}">удалить</a></td>
        </tr>
        {{/colors}}

    </table>
    </div>


</body>
<script>
    $(document).ready(function(){
        $('.action').on('click',function(){
            var id = $(this).attr('id');
            if (this.textContent == 'Изменить') {
		    this.textContent = 'Сохранить';
		    $('.note__body_'+id).attr('contenteditable','true');
		    $('.note__body_'+id).focus();
	    }
	    else {
		    this.textContent = 'Изменить';
		    $('.note__body_'+id).attr('contenteditable','false');
		    var value = $('.note__body_'+id).text();
		    window.location.href = "/update/?id="+id+"&value="+value;
	    }
        });
    });
</script>
</html>