<html>
<body>
    <div>
        <form method="post" action="add">
            <input type="text" name="numberColor" placeholder="Введите RAL" />
            <input type="text" name="coatingType" placeholder="Тип покрытия" />
            <input type="text" name="manufact" placeholder="Производитель" />
            <input type="text" name="value" placeholder="Количество" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Поиск по RAL</div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Введите RAL" />
            <button type="submit">Поиск</button>
        </form>
    </div>
    <div>Список краски</div>
    {{#colors}}
        <div>
            <b>{{id}}</b>
            <b>RAL{{numberColor}}</b>
            <b>{{coatingType}}</b>
            <b>{{manufact}}</b>
            <b>{{value}}</b>
        </div>
    {{/colors}}
</body>
</html>